ul{list-style:none;padding-left:0;}
ul li{
    display:inline-block;
    vertical-align:top;
    background-color:transparent;
    width:40px;
    height:45px;
    text-align: center;
    padding-top: 5px;
    margin-right: 1px;
}
ul li.odd{
    background-color:transparent;
}
ul.weekly>li{display:none;}
ul.weekly>li:first-child{display:block;}
.times-field{width:28px;height:29px;}
.times-field>input{
    font-size:12px;
    width: 26px;
    height: 27px;
    border-radius: 2px;
    border: solid 1px #b5b5b5;
    text-align: center;
}
ul.weekly>li:first-child .times-field >input{width: 266px;}